<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
</head>
<body>
    <div class="error-container">
        <h1>500</h1>
        <p>We're sorry, something went wrong on our end.</p>
        <p>Our team has been notified, and we are working to fix it. Please try again.</p>
        <a href="{{url_for('show_home_page') }}">Go back to the Homepage.</a>
    </div>
</body>
</html>